img{
    width: 700px;
    height: auto;
    margin: auto;
    display: block;
}
h1{
    text-align: center;
}
*{
    background-color:bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#recipes{
    margin-top: 10%;
    font-size: 32px;
    text-align: center;
    list-style: none;
}
.content{
    margin: 0 10% 0 10%;
}